.__content_box .__content_img {
    text-align: center;
}

.__content_box .__content_img img {
    width: 60%;
}

.__content_box .__tit_h1 {
    text-align: center;
}

.__content_box .__txt_p {
    text-align: center;
}